.footer {
    background-color: #2B2B2B;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer li {
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

.footer p {
    text-align: center;
}

.scrolldown {
    font-size: 3rem;
    position: relative;
    bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
}

.scrolldown:hover {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .scrolldown {
        display: none;
    }
}

@media (max-width: 480px) {
    .footer ul > li {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}
