ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

ul > li {
    display: inline-block;
    color: white;
}

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    background: no-repeat center fixed;
    background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),url(../images/scotland_road.jpg);
    background-size: cover;
}

.navbar {
    background-color: transparent;
}
.nav {
    padding-top: 2rem;
    padding-bottom: 0.25rem;
    margin-left: -1rem;
    width: 100%;
    position: fixed;
    justify-content: center;
    transition: 0.25s;
}

.navOpaque {
    background-color: #333;
    transition: 0.25s;
}

.navlink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    color: white !important;
}

.navActive {
    color: red !important;
    transition: 0.25s;
}

.navlink:hover {
    cursor: pointer;
    text-decoration: none;
}

.banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner h1 {
    font-size: 8rem;
    border-bottom: 1px solid #7A7A7A;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.banner h2 {
    font-size: 2rem;
}

.banner > ul > li {
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

.scrolldown {
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
}

.scrolldown:hover {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 900px) {
    .banner h1 {
        font-size: 6rem;
    }
    .banner h2 {
        font-size: 1.5rem;
    }
    .nav {
        width: auto;
        background-color: #333;
        padding: 0.25rem 0.75rem;
        margin: 0.5rem 0;
    }
}

@media (max-width: 767px) {
    .banner h1 {
        font-size: 5rem;
    }
    .banner > ul > li {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    .scrolldown {
        display: none;
    }
    .hero {
        background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),url(../images/queenstown.jpg);
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: 3.5rem;
    }
    .banner h2 {
        font-size: 1.25rem;
    }
    .banner > ul > li {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}
