.company {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.company hr {
    width: 75%;
}

.subtitle {
    padding-left: 15px;
    padding-right: 15px;
}

.subtitle span {
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    width: 175px;
    height: 175px;
    overflow: hidden;
    border-radius: 15%;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo img {
    height: 100%;
}

@media (max-width: 991px) {
    .subtitle span {
        display: none;
    }
    .subtitle h5:not(:first-child) {
        display: none;
    }
}

@media (max-width: 576px) {
    .logo {
        margin: auto;
    }

    .company h2 {
        text-align: center;
    }

    .subtitle {
        flex-direction: column;
        text-align: center;
    }

    .subtitle h5 {
        font-size: 1.1rem;
    }
}